name: Nightly Build

on:
  schedule:
    - cron: "0 0 * * *"  # 12 AM UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Run Tests
        run: |
          docker compose build
          docker compose run app pytest

      - name: Build and Push Docker Image
        if: success()
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: yourdockerhubusername/fastapi-beyond-crud:nightly


      - name: Send failure email
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.sendgrid.net
          server_port: 587
          username: apikey
          password: ${{ secrets.SENDGRID_API_KEY }}
          subject: "Nightly Build Failed"
          to: ${{ secrets.SENDGRID_TO_EMAIL }}
          from: ${{ secrets.SENDGRID_FROM_EMAIL }}
          body: "Nightly build failed due to test errors."
